.content-area {
    background-color: red;
    font-size: smaller;
}

body {
    background-color: blue;
}

p:hover {
    color: red;
}

p::selection {
    color: red;
    background: yellow;
}

img {
    width: 150px;
    background: pink;
    border: 1px solid black;
}