.content-area {
    position: relative;
    background-color: red;
    font-size: smaller;
    z-index: -1;
}

.name-area {
    background-color: lightblue;
    margin-bottom: -1.5em;
    z-index: -2;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: blue;
}

p:hover {
    color: red;
}

p::selection {
    color: red;
    background: yellow;
}

img {
    width: 150px;
    background: pink;
    border: 1px solid black;
}